.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer > p{
    font-weight: bold;
    text-transform: capitalize;
    font-size: xx-large;
    margin-bottom: 10px;
    color: rgb(71, 71, 71);
}

hr{
    border: 1px solid rgba(139, 139, 139, 0.5);
    width: 100%;
}

.footer__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__inside{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer__mainBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18rem;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

.footer__heading{
    color: #AD0B39;
    font-size: large;
    padding: 1rem 0 1px 0;
}

p{
    font-size: small;
}

.footer__footer > p{
    text-align: center;
}

.footer__icon{
    color: #AD0B39;
    font-size: x-large;
    margin-left: 25px;
    margin-top: 10px;
}

.footer__icon:hover{
    color: rgb(136, 136, 136);
    transition: 0.3s all ease-in-out;
}

@media (max-width: 550px){
    .footer > p{
        font-size: x-large;
    }
    .footer__mainBox{
    width: 8.25rem;
    padding: 0.5rem;
    }
}