.map{
    height: 500px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map .leaflet-container{
    height: 100%;
}

.leaflet-container .leaflet-control-attribution{
    display: none;
}

.info-container{
    width: 150px;
}

.info-flag{
    height: 100px;
    width: 100%;
    object-fit: contain;
    background-size: cover;
    border-radius: 8px;
}

.info-flag img{
    width: 100px;
    border-radius: 5px;
}

.info-confirmed,.info-recovered,.info-deaths{
    font-size: 16px;
    margin-top: 5px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.info-name{
    font-size: 20px;
    font-weight: bold;
    color: #555;
    text-align: center;
}

.info__active{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4275ac;
}
.info__active1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #007bff;
    font-size: 12px;
}
.info__recover{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #008000;
}
.info__recover1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1bcc1b;
    font-size: 12px;
}
.info__death{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ce2323;
}
.info__death1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ff0000;
    font-size: 12px;
}
.info__today{
    font-size: 12px;
    
}